@import 'component/mixin.scss';
@import 'component/index.scss';
@import 'component/navbar.scss';
@import 'component/coffeBeans.scss';
@import 'component/checkout.scss';
@import 'component/cart.scss';
@import 'component/konfirmasi.scss';

* {
    box-sizing: border-box;

    // border: 1px solid black;
}

.dsc {
    line-height: 22px;
    -webkit-line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}